.specialsHeader {
    display: flex;
    width: 66.7%;
    margin: auto;
    margin-top: 3rem;
    justify-content: space-between;
}

.specialsHeader h1 {
    font-family: 'Markazi Text', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 40px;
    color: #5E5D5D;
}

.specialsHeader a {
    display: inline-block;
    text-decoration: none;
    background-color: #F4CE14;
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2rem;
    /* margin-right: 1.75rem; */
    padding: 0.75rem;
    color: black;
    border-radius: 0.5rem;
    /* width: max-content; */
    /* min-width: max-content; */
    height: fit-content;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    transition: 0.5s ease;
}

.specialsHeader a:hover {
    box-shadow: none;
}

/* Styling for Cards */


.cardSection {
    display: flex;
    width: 66.7%;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
    overflow-x: auto;
}

.cardContainer {
    width: 285px;
    height: 500px;
    border-radius: 16px 16px 0 0;
    background-color: #D9D9D9;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/* removes hover from card (.cardContainer) when card footer (.footerContent) is hovered over */

.cardContainer:has(a:hover) {
    box-shadow: none;
}

.cardContainer img {
    width: 285px;
    height: 184px;
    border-radius: 16px 16px 0 0;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardTitle h3 {
    margin-left: 1rem;
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.cardTitle h6 {
    color: #E46924;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.cardPrice {
    margin-top: -0.85rem;
}

.card-content {
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    width: 245px;
    height: 150px;
    margin-left: 1rem;
}

.footer-content {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
}

#cardFooterIcon {
    width: 24px;
    height: 24px;
    margin-top: 1rem;
    margin-right: 2rem;
    color: black;
}

.cardFooter p {
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 2rem;
}

.cardContainer a {
    text-decoration: none;
}


/* Tablet and mobile styling */

@media (min-width: 992px) {
    .small-med-specialsSection {
        display: none;
    }
}

@media (max-width: 1440px) {
    .cardSection {
        gap: 3rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .cardSection::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 991px) {
    .specialsHeader, .cardSection {
        display: none;
    }
}

.sm-md-specialsHeader h3 {
    padding-left: 1rem;
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

/* Mini Navbar */

.miniMenuNavbar {
    display: flex;
    margin-left: -1.65rem;
    overflow-x: auto;
}

/* Hide scroll bar for Chrome, Safari and Opera */
.miniMenuNavbar::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bar for IE, Edge and Firefox */
.miniMenuNavbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.miniMenuNav-item ul li {
    list-style: none;
}

.miniMenuNav-item a {
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 1rem;
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 16px;
    width: max-content;
    text-decoration: none;
}

.miniMenuNav-item a:hover {
    background-color: #495E57;
    color: white;
}

.miniMenuNav-item a.active {
    background-color: #495E57;
    color: white;
    border-style: groove;
    border-color: black;
}

/* Mini Menu Styling */

.miniMenuSection {
    height: 400px;
    overflow-y: auto;
    /* Hide scroll bar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scroll bar for Chrome, Safari and Opera */
.miniMenuSection::-webkit-scrollbar {
    display: none;
}

.lunch-menu-section {
    display: flex;
    flex-direction: column;

}

.lunch-menu-section h5 {
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 1rem;
}

.lunch-menu-section div {
    height: 43px;
    overflow-y: auto;
    /* Hide scroll bar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scroll bar for Chrome, Safari and Opera */
.lunch-menu-section div::-webkit-scrollbar {
    display: none;
}

.lunch-menu-section div p {
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #495E57;
    margin: 1rem;
}

.lunch-menu-section h6 {
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #495E57;
    margin: 1rem;
}