#footerLogo {
    width: 155px;
    height: 262px;
    padding: 1rem 0;
}

.footerNav {
    /* background-color: honeydew; */
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.footerNav nav {
    display: flex;
}

.footerNav nav ul {
    display: flex;
    flex-direction: column;
}

.footerNav nav ul h3 {
    font-weight: bold;
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footerNav nav ul a {
    color: black;
    font-weight: lighter;
    font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0.75rem;
    text-decoration: none;
}

@media (min-width: 991px) {
    .footerNav nav ul {
        padding-left: 7rem;
    }
}

/* Mobile Styling */

@media (max-width: 500px) {
    .footerNav {
        flex-direction: column;
    }

    .footerNav div {
        margin: auto;
    }

    .footerNav nav {
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .footerNav nav ul {
        padding-right: 2.5rem;
    }
}

/* Larger Monitor Styling */

@media (min-width: 1441px) {
    .footerNav {
        width: 66.7%;
        margin: auto;
        justify-content: space-between;
    }
}